/*
 * fixed width on larger mobile devices
 */

@media screen and (min-width: 425px) {
    #reviews-list li {
        grid-template-columns: 121px 2fr 1fr;
    }
}


/*
 * horizontal viewing font size 
 */

@media screen and (min-width: 600px) {
    .filter-options h2 {
        font-size: 16px;
        letter-spacing: 2px;
        text-align: center;
    }
    .filter-options select {
        font-size: 16px;
    }
    #restaurant-cuisine {
        font-size: 18px;
        font-weight: 400;
    }
    #restaurant-address {
        font-size: 20px;
        width: calc(100% - 30px);
        margin: 0 10px 10px 30px;
    }
    #restaurant-hours {
        font-size: 16px;
        margin-left: 30px;
    }
    .reviews-container h2 {
        padding: 10px 10px 10px 30px;
        width: calc(100% - 40px);
    }
}


/*
 * tablet screens
 */

@media screen and (min-width: 740px) {
    .page-title a {
        font-size: 18px;
    }
    .filter-options select {
        width: 250px;
    }
    .restaurants-listing {
        overflow: none;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .restaurants-listing li {
        padding: 20px 40px;
    }
    .restaurants-listing li:first-of-type {
        margin-left: 0px;
    }
    .restaurant-container img {
        width: 500px;
    }
}


/*
 * laptop page layout s
 */

@media screen and (min-width: 1024px) {
    .page-nav {
        padding: 10px 0;
    }
    .page-title a {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 5px;
    }
    #breadcrumb {
        padding: 10px 14px 16px 40px;
        font-size: 22px;
        margin: 0;
        box-shadow: 0 0 0;
    }
    /* ====================== Map && Restaurants ====================== */
    .map {
        height: 500px;
    }
    .filter-options {
        grid-template-columns: 5fr 0.6fr 1.6fr 1.6fr 5fr;
        grid-column-gap: 25px;
    }
    .filter-options h2 {
        font-size: 20px;
        letter-spacing: 2px;
        text-align: right;
        grid-column: 2;
    }
    .filter-options select {
        font-size: 16px;
        width: 200px;
    }
    .restaurants-listing {
        grid-template-columns: repeat(4, 1fr);
    }
    .restaurants-listing li {
        padding: 20px 40px;
    }
    /* ====================== Restaurant Details ====================== */
    .inside #maincontent {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .inside header {
        top: 0;
        z-index: 1;
        box-shadow: 0 0 0;
        position: inherit;
    }
    .inside #footer {
        bottom: 0;
        width: 100%;
    }
    .inside #map {
        height: 735px;
        margin: 0;
    }
    .restaurant-container {
        background-color: #fff;
        height: 735px;
    }
    .restaurant-container h1 {
        margin: 20px 0 20px 0;
        font-size: 26px;
    }
    #restaurant-cuisine {
        font-size: 24px;
    }
    .reviews-container {
        grid-column: 1 / span 2;
    }
    .reviews-container h2 {
        text-align: center;
        font-size: 26px;
    }
    #reviews-list {
        grid-template-columns: repeat(3, 1fr);
    }
    #reviews-list li {
        grid-template-columns: 100px 2fr 1fr;
        grid-template-rows: 50px 50px 280px;
        height: 400px;
    }
    #reviews-list li p:nth-of-type(1) {
        font-size: 16px;
    }
    #reviews-list li p:nth-of-type(3) {
        font-size: 16px;
    }
    #reviews-list li p:nth-of-type(4) {
        font-size: 16px;
        margin: 0 15px 0 15px;
        height: 290px;
        overflow: auto;
        text-overflow: ellipsis;
    }
}


/*
 * larger screens and 4k fixed width 
 */

@media screen and (min-width: 1600px) {
    body {
        width: 1600px;
        margin: auto;
        background-color: #fcfcfc;
    }
}