@charset "utf-8";

/* CSS Document */

body,
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
}

body {
    background-color: #fdfdfd;
    margin: 0;
    width: 100%;
}

ul,
li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3397db;
    text-decoration: none;
}

a img {
    border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px;
}

.main-content {
    background-color: #f3f3f3;
    min-height: 100%;
    width: 100%;
}

.footer {
    background-color: #444;
    color: #aaa;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}


/* ====================== Navigation ====================== */

.page-nav {
    width: 100%;
    height: 50px;
    background-color: #252831;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
}

.page-title {
    margin: auto;
}

.page-title a {
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: uppercase;
}


/* ====================== Breadcrumb (only on restaurant details page) ====================== */

#breadcrumb {
    padding: 10px 40px 16px 14px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(100% - 54px);
    box-shadow: 0 2px 2px rgba(51, 51, 51, 0.4)
}

#breadcrumb li {
    display: inline;
}

#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


/* ====================== Map && Restaurants ====================== */

.map {
    height: 250px;
    width: 100%;
    background-color: #ccc;
}

.restaurants {
    margin: 0;
    padding: 0;
}


/* ====================== Restaurant Filtering ====================== */

.filter-options {
    width: 100%;
    height: 60px;
    background-color: #444;
    align-items: center;
    display: grid;
    grid-template-columns: 0.6fr 1.6fr 1.6fr;
    grid-column-gap: 5px;
}

.filter-options h2 {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    margin: auto 10px;
}

.filter-options select {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #444;
    height: 48px;
    width: 95%;
    justify-self: center;
}

.filter-options select:last-of-type {
    margin-right: 5px;
}


/* ====================== Restaurant Listing ====================== */

.restaurants-listing {
    background-color: #f3f3f3;
    list-style: outside none none;
    padding: 0;
    text-align: center;
    width: 100%;
    height: auto;
    overflow: auto;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 14px;
    justify-content: space-between;
}

.restaurants-listing li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    margin: 14px 0;
    width: 240px;
    height: auto;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.restaurants-listing li:first-of-type {
    margin-left: 7px;
}

.restaurants-listing .restaurant-img {
    background-color: #ccc;
    margin: 0;
    height: auto;
    width: 240px;
    align-self: center;
}

.restaurants-listing li h1 {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 10px 0 0 0;
    text-transform: uppercase;
    align-self: center;
}

.restaurants-listing p {
    width: 70%;
    font-size: 14px;
    margin: 10px 0 0 0;
}

.restaurants-listing li a {
    background-color: #f18200;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    height: 48px;
    width: 240px;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px 0 0 0;
}


/* ====================== Restaurant Details ====================== */

#maincontent-review {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.inside header {
    top: 0;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.inside #footer {
    bottom: 0;
    width: 100%;
}

.inside .map {
    margin: 95px 0 0 0;
}

.restaurant-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.restaurant-container h1 {
    color: #f18200;
    font-size: 20px;
    font-weight: 200;
    margin: 20px 0;
    text-transform: uppercase;
    text-align: center;
}

.restaurant-picture {
    align-self: center;
}

.restaurant-container img {
    background-color: #ccc;
    margin: 0;
    height: auto;
    width: 240px;
    align-self: center;
}

#restaurant-address {
    font-size: 14px;
    width: calc(100% - 10px);
    margin: 0 10px 10px 10px;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 10px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#restaurant-hours {
    font-size: 12px;
    margin: 0 10px 10px 10px;
}


/* ====================== Restaurant Reviews ====================== */

.reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr;
    margin: 10px 0 0 0;
}

.reviews-container h2 {
    color: #f58500;
    background-color: #333;
    font-size: 24px;
    font-weight: 300;
    padding: 10px;
    width: calc(100% - 20px);
}

#reviews-list {
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}

#reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 85%;
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr;
    grid-template-rows: repeat (3, 1fr);
}

#reviews-list li:last-of-type {
    margin-bottom: 10px;
}

#reviews-list li p {
    margin: 0 0 10px;
}

#reviews-list li p:nth-of-type(1) {
    background-color: #333;
    color: #fff;
    padding: 10px 5px 10px 15px;
}

#reviews-list li p:nth-of-type(2) {
    background-color: #333;
    color: rgb(192, 192, 192);
    padding: 10px;
    font-size: 10px;
    grid-column: 2 / span 2;
    text-align: end;
    line-height: 20px;
}

#reviews-list li p:nth-of-type(3) {
    grid-column: 1;
    grid-row: 2;
    padding: 10px 15px;
    color: #fff;
    background-color: #f18200;
    border-radius: 2px;
}

#reviews-list li p:nth-of-type(4) {
    grid-column: 1 / span 3;
    grid-row: 3;
    padding: 10px 15px;
    text-align: justify;
}

#restaurant-hours td {
    color: #666;
}


/* ====================== Skip link ====================== */

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    color: #fff;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
    color: rgb(181, 218, 255);
}